<div class="home_logado">

  <div class="whare">

    <main class="table">
      <section class="table__header">
        <h1 class="text-title">USUÁRIOS</h1>
        <div class="input-group">
          <input type="search" class="search-style" placeholder="🔍 buscar tipo de usuário..." id="titulo"
            [(ngModel)]='tipoUsuario' (keyup)='findByTipoUsuario()'>
        </div>
      </section>
      <section>

        <div class="d-flex justify-content-center m-2 p-0" *ngIf="listUsuario == null">
          <div class="title-camp">
            <div class="title-icon-ali">
              <h5 class="text-edit-title-not">Não há usuários, cadastrados no momento.</h5>
              <i class="fa fa-exclamation-circle icon-edit-not" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="table__body">
        <table *ngIf="listUsuario != null">
          <thead class="edit_thead">
            <tr>
              <th class=" color_line_title" scope="row"> E-mail <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Tipo Usuário <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Detalhes <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Editar <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Apagar <span class="icon-arrow">&UpArrow;</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table_line" *ngFor="let itemUsuario of listUsuario | orderBy: ['tipoPacote']">

              <th class="line_btn color_line" scope="row">{{itemUsuario.usuario}}</th>
              <td class="line_btn">{{itemUsuario.tipo}}</td>
              <!-- [routerLink]="['/detalheusuario', itemUsuario.id]" -->
              <td class="line_btn">
                <button type="button" class="btn edit_btn modal_btn_for" 
                (click)="getId(selectedUserId = itemUsuario.id)" [id]="'btn-modal-' + nextButtonId"
                  data-bs-toggle="modal" data-bs-target="#myModal2">
                  <i class="fa fa-info icon_btn" aria-hidden="true"></i>
                </button>
              </td>
              <td class="line_btn"><button type="button" class="btn edit_btn"
                  [routerLink]="['/editusuario', itemUsuario.id]"><i class="fas fa-edit icon_btn"></i></button></td>
              <td class="line_btn">
                <button type="button" class="btn edit_btn_danger" (click)="getId(itemUsuario.id)" id="my-button-delete"
                  data-bs-toggle="modal" data-bs-target="#myModal">
                  <i class="far fa-trash-alt icon_btn"></i>
                </button>
              </td>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">APAGAR USUÁRIO </h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente apagar esse usuário?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-success-update" data-bs-dismiss="modal"
                        routerLink="/visusuario">Não</button>
                      <button type="button" class="btn btn-primary btn-cancel" data-bs-dismiss="modal"
                        (click)="deletarUsuario()">Sim</button>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Modal 2-->
              <div class="modal fade mt-0" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal2" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">DETALHES DO USUÁRIO</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngIf="selectedUserId != null">
                      <div class="title-icon-ali">
                        <h5 class="text-edit-title">Nome: {{nomeUser.toUpperCase()}}</h5>
                      </div>
                      <div class="container-info w-75">

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Usuário:</p>
                          <p class="ml-2">{{getUser.usuario}}</p>
                        </div>

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Tipo de Usuário:</p>
                          <p class="ml-2">{{getUser.tipo}}</p>
                        </div>

                      </div>
                    </div>
                    <!-- <div class="modal-footer d-flex justify-content-between">
                      <div class="d-flex justify-content-start">
                        <p>OBSERVAÇÃO:</p>
                        <p class="ml-2 text_align">{{getAgendaDia.observacao}}</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>

            </tr>
          </tbody>
        </table>
      </section>
      <div class="container-btn">
        <div class="bt-duplo-small">
          <button type="submit" class="btn botao_return" routerLink="/inicio">
            VOLTAR
          </button>
        </div>
      </div>
    </main>
  </div>
</div>