<footer class="page-footer font-small corFooter ">
    <div class="container">

        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center">
                <h1 class="text_white ml-4">Turminha Feliz</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center ">

                <ul class="social-network ">
                    <li>
                        <i class="fab fa-whatsapp-square icon_size"></i>
                        (11) 9 0000-0000
                    </li>


                    <li>
                        <a href="" routerLink='/sobre' class="sobre">
                            • Sobre
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bgBottom text-center py-3">
        <span class="text-light"> © 2023 Copyright: </span>
        <a href="https://fatecfrancodarocha.edu.br/" class="text-light" target="_blank">fatecfrancodarocha.edu.br</a>

    </div>

</footer>