<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active " id="pills-todos" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

        <div class="d-flex justify-content-center w-100">
            <div class="title_camp_top">
                <hr>
                <div class="title-icon-ali">
                    <h2 class="text_edit_title_top">ESCOLHER PACOTE</h2>
                    <i class="fas fa-calendar-alt icon_edit_top"></i>
                </div>
                <hr>
            </div>
        </div>

        <!-- <div class="d-flex justify-content-center m-2 p-0" *ngIf="listCrianca == null">
            <div class="title-camp">
                <div class="title-icon-ali">
                    <h5 class="text-edit-title-not">Não há datas para serem definidas no momento.</h5>
                    <i class="fa fa-exclamation-circle icon-edit-not" aria-hidden="true"></i>
                </div>
                <button type="submit" class="btn botao-cancel"
                        [routerLink]="['/visupacote',]">
                        VOLTAR
                </button>
            </div>
        </div> -->

        <div class="container-principal">
            <div class="result-banco">

                <form class="margin-dentro" [formGroup]="formulario">
                    <!--  *ngIf="listCrianca != null" -->

                    <div>
                        <label class="label-color mensagem_obri" for="materias">Campos com <span class="span_bold">*</span> são de preenchimento obrigatório.</label>

                        <div class="d-block justify-content-center mb-5">
                            <div class="input-box">
                                <div class="form-group texto-color">
                                    <label for="criancaNome" class="label-edit-tp">Crianças:*</label>
                                    <select class="form-control form-select w-75 p-2" formControlName="criancaNome" id="criancaNome"
                                    (change)="getIdCrianca($event)">
                                        <option disabled selected value="">Selecione o ID da criança:</option>
                                        <option *ngFor="let criancaId of listCrianca" [value]="criancaId">
                                            Criança ID: {{ criancaId }}
                                        </option>
                                    </select>
                                </div>
                            
                                <div class="mensagem-input-error">
                                    <div class="balao cax-position w-50" *ngIf="formulario.get('criancaNome')?.errors?.['required'] &&
                                    formulario.get('criancaNome')?.touched">
                                        <span class="m-lg-2">
                                            Seleção obrigatória!
                                        </span>
                                    </div>
                                </div>
                            </div>

                        
                            <p>Nome: {{nomeCrianca}}</p>
                            <p>Responsável: {{nomeResponsavel}}</p>
                        </div>

                        <div class="d-block justify-content-center mb-5">
                            <div class="input-box">
                                <div class="form-group texto-color">
                                    <label for="tipoPacote" class="label-edit-tp">Pacotes:*</label>
                                    <select class="form-control form-select w-75 p-2" formControlName="tipoPacote"
                                        id="tipoPacote" (change)="getIdPacote($event)">
                                        <option disabled selected value="">Selecione o tipo do pacote:</option>
                                        <option *ngFor="let pacoteId of listPacote" value="{{pacoteId}}">
                                            Pacote ID: {{ pacoteId  }}</option>
                                    </select>
                                </div>

                                <div class="mensagem-input-error">
                                    <div class="balao cax-position w-50" *ngIf="formulario.get('tipoPacote')?.errors?.['required'] &&
                                    formulario.get('tipoPacote')?.touched">
                                        <span class="m-lg-2">
                                            Seleção obrigatória!
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <p>Tipo Pacote: {{ nomePacote }}</p>
                        </div>

                        <div class="d-flex justify-content-around bg-color">

                            <div class="input-box m-lg-1">
                                <div class="form-group">
                                    <label class="label-color" for="dataPay">Data de Pagamento*</label>
                                    <input [(ngModel)]="cadPagamentoPacote.dataPagamento"
                                        class="form-control texto-color p-2" type="date" formControlName="dataPay"
                                        id="dataPay" required />
                                    <!-- (change)="dataConvert($event)" -->
                                </div>

                                <div class="mensagem-input-error">
                                    <div class="balao balao-small cax-position w-100" *ngIf="
                                 formulario.get('dataPay')?.errors?.['required'] &&
                                 formulario.get('dataPay')?.touched">
                                        <span class="m-lg-2">
                                            Preenchimento obrigatório!
                                        </span>
                                    </div>
                                    <!-- <div class="balao balao-small cax-position w-100" *ngIf="
                                 formulario.get('dataPay')?.errors?.['overage'] &&
                                 formulario.get('dataPay')?.touched">
                              <span class="m-lg-2">
                                A data de pagamento deve ser do dia de cadastro até o final do mês seguinte.
                              </span>
                            </div> -->
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="container-btn">

                        <div class="bt-duplo-small">

                            <button type="submit" class="btn botao-cad m-auto" (click)="cadastrar()"
                                [disabled]="!formulario.valid">
                                CADASTRAR
                            </button>
                        </div>

                        <!-- <button type="submit" class="btn botao-cancel"
                            [routerLink]="['/visupacote',]">
                            VOLTAR
                        </button> -->
                    </div>
                </form>

            </div>

        </div>

    </div>

</div>