<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active " id="pills-todos" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

        <div class="d-flex justify-content-center w-100">
            <div class="title_camp_top">
                <hr>
                <div class="title-icon-ali">
                    <h2 class="text_edit_title_top">DETALHES DA CRIANÇA</h2>
                    <i class="fa fa-child icon_edit_top" aria-hidden="true"></i>
                </div>
                <hr>
            </div>
        </div>

        <div class="container-principal">
            <div class="result-banco">

                <div class="form-group container-respo">

                    <div class="d-flex justify-content-center w-100">
                        <div class="title-camp">
                            <hr>
                            <div class="title-icon-ali">
                                <h5 class="text-edit-title">{{getCrianca.nome}}</h5>
                                <i class="fa fa-address-card-o icon-edit-camp" aria-hidden="true"></i>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <div class="container-info">

                        <div class="d-flex justify-content-start w-100">

                            <div class="elemento_info">
                                <p class="titulo-edit">Data de Nascimento:</p>
                                <p class="info-edit">{{getCrianca.dtNascimento | date:'dd/MM/yyyy'}}</p>
                            </div>

                            <div class="elemento_info">
                                <p class="titulo-edit">Genêro:</p>
                                <p class="info-edit">{{getCrianca.genero}}</p>
                            </div>

                            <div class="elemento_info">
                                <p class="titulo-edit">Idade:</p>
                                <p class="info-edit">{{calcularIdade(getCrianca.dtNascimento)}}
                                    {{calcularIdade(getCrianca.dtNascimento) === 1 ? 'ano' : 'anos'}}</p>
                            </div>

                        </div>

                        <div class="d-flex justify-content-center w-100">
                            <div class="title-camp">
                                <hr>
                                <div class="title-icon-ali">
                                    <h5 class="text-edit-title">SAÚDE DA CRIANÇA</h5>
                                    <i class="fa fa-medkit icon-edit-camp" aria-hidden="true"></i>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="d-block justify-content-between w-100">

                            <div class="d-flex justify-content-start">

                                <div class="elemento_info">
                                    <p class="titulo-edit">Problema Saude?</p>
                                    <p class="info-edit">{{getCrianca.problemaSaude ? 'Sim' : 'Não'}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Tipo de Problema de Saude:</p>
                                    <p class="info-edit">{{getCrianca.tipoProblemaSaude}}</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-start">
                                <div class="elemento_info">
                                    <p class="titulo-edit">Alguma Alergia?</p>
                                    <p class="info-edit">{{getCrianca.algumaAlergia ? 'Sim' : 'Não'}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Tipo de alergia:</p>
                                    <p class="info-edit">{{getCrianca.tipoAlergia}}</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-start">

                                <div class="elemento_info">
                                    <p class="titulo-edit">Faz uso de médicamentos?</p>
                                    <p class="info-edit">{{getCrianca.usoMedicamento ? 'Sim' : 'Não'}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Quais médicamentos:</p>
                                    <p class="info-edit">{{getCrianca.qualMedicamento}}</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-start">

                                <div class="elemento_info">
                                    <p class="titulo-edit">Tem necessidades especiais?</p>
                                    <p class="info-edit">{{getCrianca.necessidadesEspeciais ? 'Sim' : 'Não'}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Quais necessidades especiais:</p>
                                    <p class="info-edit">{{getCrianca.tipoNecessidadesEspeciais}}</p>
                                </div>
                            </div>

                        </div>

                        <div class="d-block justify-content-between w-100">

                            <div class="d-flex justify-content-center w-100">
                                <div class="title-camp">
                                    <hr>
                                    <div class="title-icon-ali">
                                        <h5 class="text-edit-title">OUTRAS INFORMAÇÕES</h5>
                                        <i class="fa fa-info-circle icon-edit-camp" aria-hidden="true"></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                            <div class="elemento_info">
                                <p class="titulo-edit">Observações da Criança:</p>
                                <p class="info-edit">{{getCrianca.obsDiaCrianca}}</p>
                            </div>

                            <div class="elemento_info">
                                <p class="titulo-edit">Termo de aceite:</p>
                                <p class="info-edit">{{getCrianca.termoAceite ? 'Aceito' : 'Não'}}</p>
                            </div>
                        </div>

                        <div class="d-block justify-content-between w-100">

                            <div class="d-flex justify-content-center w-100">
                                <div class="title-camp">
                                    <hr>
                                    <div class="title-icon-ali">
                                        <h5 class="text-edit-title">RESPONSÁVEL</h5>
                                        <i class="fa fa-user icon-edit-camp" aria-hidden="true"></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                            <div class="d-flex justify-content-start">

                                <div class="elemento_info">
                                    <p class="titulo-edit">Responsável:</p>
                                    <p class="info-edit">{{getCrianca.responsavel.nome}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Contato:</p>
                                    <p class="info-edit">{{getCrianca.responsavel.celular}}</p>
                                </div>
                            </div>


                        </div>

                        <div class="d-block justify-content-between w-100">

                            <div class="d-flex justify-content-center w-100">
                                <div class="title-camp">
                                    <hr>
                                    <div class="title-icon-ali">
                                        <h5 class="text-edit-title">PACOTE</h5>
                                        <i class="fa fa-cube icon-edit-camp" aria-hidden="true"></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">

                                <div class="elemento_info">
                                    <p class="titulo-edit">Tipo de Pacote:</p>
                                    <p class="info-edit">{{getCrianca.pacote.tipoPacote}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Período:</p>
                                    <p class="info-edit">{{getCrianca.pacote.periodo}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Valor:</p>
                                    <p class="info-edit">{{getCrianca.pacote.valorPacote |
                                        currency:'BRL':'symbol':'1.2-2'}}</p>
                                </div>

                                <div class="elemento_info">
                                    <p class="titulo-edit">Quantidade de Dias:</p>
                                    <p class="info-edit">{{getCrianca.pacote.qtdDias}}</p>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="container-btn">

                    <div class="bt-duplo-small">

                        <button type="submit" class="btn botao-cancel" routerLink="/visueditcrianca">
                            VOLTAR
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>