<div class="pacotecrianca">
    <div class="input-box m-lg-1">

        <div class="position">

            <form [formGroup]="formulario" (ngSubmit)="postarDados()">
                <!-- NOME -->
                <div>
                  <input
                    formControlName="nome"
                    placeholder="Nome..."
                    type="text" />
                  <small *ngIf="formulario.get('nome')?.errors">
                    Campo obrigatório
                  </small>
                </div>
              
                <!-- PERGUNTAS -->
                <div *ngFor="let pergunta of formPerguntas.controls">
                  {{pergunta.get('pergunta')?.value}}
              
                  <ng-container [formGroup]="$any(pergunta)">
                    <input
                      type="radio"
                      formControlName="resposta"
                      [value]="false" />
                    Não
              
                    <input
                      type="radio"
                      formControlName="resposta"
                      [value]="true" />
                    Sim
                  </ng-container>
                </div>
                <div>
                  <input type="submit" value="Postar" />
                </div>
              </form>
              {{ formulario.value | json }}
        </div>

      </div>
      
</div>