<div class="home_logado">

  <div class="whare">

    <main class="table">
      <section class="table__header">
        <h1 class="text-title">PROPRIETÁRIOS</h1>
        <div class="input-group">
          <input type="search" class="search-style" placeholder="🔍 buscar nome proprietário..." id="titulo"
            [(ngModel)]='nomeProprietario' (keyup)='findByNomeProprietario()'>
        </div>
      </section>
      <section>

        <div class="d-flex justify-content-center m-2 p-0" *ngIf="listProprietario == null">
          <div class="title-camp">
            <div class="title-icon-ali">
              <h5 class="text-edit-title-not">Não há proprietários, cadastrados no momento.</h5>
              <i class="fa fa-exclamation-circle icon-edit-not" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="table__body">
        <table *ngIf="listProprietario != null">
          <thead class="edit_thead">
            <tr>
              <th class=" color_line_title" scope="row"> Nome <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> CNPJ <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Detalhes <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Editar <span class="icon-arrow">&UpArrow;</span>
              </th>
              <!-- <th class=" color_line_title" scope="row"> Apagar <span class="icon-arrow">&UpArrow;</span>
                          </th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="table_line" *ngFor="let itemProprietario of listProprietario | orderBy: ['nome']">

              <th class="line_btn color_line" scope="row">{{itemProprietario.nome.toUpperCase()}}</th>
              <td class="line_btn">{{itemProprietario.cnpj}}</td>
              <!-- [routerLink]="['/detalheproprietario', itemProprietario.id]" -->
              <td class="line_btn"><button type="button" class="btn edit_btn"
                (click)="getId(selectedUserId = itemProprietario.id)" [id]="'btn-modal-' + nextButtonId"                  data-bs-toggle="modal" data-bs-target="#myModal2">
                  <i class="fa fa-info icon_btn" aria-hidden="true"></i></button></td>
              <td class="line_btn"><button type="button" class="btn edit_btn"
                  [routerLink]="['/editproprietario', itemProprietario.id]"><i
                    class="fas fa-edit icon_btn"></i></button></td>
              <!--                 <td class="line_btn"><button type="button" 
                              class="btn edit_btn_danger" (click)="getId(itemProprietario.id)"
                              data-bs-toggle="modal" data-bs-target="#myModal"><i class="far fa-trash-alt icon_btn"></i></button>
                          </td> -->

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">APAGAR PROPRIETÁRIO </h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente apagar esse proprietário?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-success-update" data-bs-dismiss="modal"
                        routerLink="/visuproprietario">Não</button>
                      <button type="button" class="btn btn-primary btn-cancel" data-bs-dismiss="modal"
                        (click)="deletarPacote()">Sim</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal 2-->
              <div class="modal fade mt-0" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal2" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">DETALHES DO PROPRIETÁRIO</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngIf="selectedUserId != null">
                      <div class="title-icon-ali">
                        <h5 class="text-edit-title">{{getProprietario.nome.toUpperCase()}}</h5>
                      </div>
                      <div class="container-info w-75">

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">CNPJ:</p>
                          <p class="ml-2">{{getProprietario.cnpj}}</p>
                        </div>

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Tipo de Usuário:</p>
                          <p class="ml-2">{{getProprietario.usuario.tipo}}</p>
                        </div>

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Email:</p>
                          <p class="ml-2">{{getProprietario.usuario.usuario}}</p>
                        </div>

                      </div>
                    </div>
                    <!-- <div class="modal-footer d-flex justify-content-between">
                      <div class="d-flex justify-content-start">
                        <p>OBSERVAÇÃO:</p>
                        <p class="ml-2 text_align">{{getAgendaDia.observacao}}</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>

            </tr>
          </tbody>
        </table>
      </section>
      <div class="container-btn">
        <div class="bt-duplo-small">
          <button type="submit" class="btn botao_return" routerLink="/inicio">
            VOLTAR
          </button>
        </div>
      </div>
    </main>
  </div>
</div>