<div class="container-cad">
    <div class="content-box">

        <div class="campo-edit">

            <div class="form-box">

                <div class="d-flex justify-content-center">
                    <div class="title_camp_top">
                        <hr>
                        <div class="title_icon_ali">
                            <h2 class="text_edit_title_top">EDITAR REFORÇO</h2>
                            <i class="fa-solid fa-user-pen icon_edit_top"></i>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="caixa-forms-edit">
                    <div class="continer-forms">

                        <div class="camp_edit">

                            <div class="d-block justify-content-between w-100">
    
                                <div class="input-box m-0">
                                    <div class="form-group">
                                        <label class="label-color" for="materias">Matérias *</label>
                                        <select class="form-control texto-color p-2" name="materias"
                                            id="materias" (change)='materiascad($event)' required>
                                            <option disabled selected value="{{editReforco.materias}}">{{editReforco.materias}}</option>
                                            <option value="ARTES">Artes</option>
                                            <option value="HISTÓRIA">História</option>
                                            <option value="GEOGRAFIA">Geografia</option>
                                            <option value="MATEMÁTICA">Matemática</option>
                                            <option value="PORTUGUÊS">Português</option>
                                            <option value="INGLÊS">Inglês</option>
                                        </select>
                                    </div>
    
                                </div>
    
                                <div class="input-box m-0">
                                    <div class="form-group">
                                        <label class="label-color" for="nivelEstudos">Nível de estudos *</label>
                                        <select class="form-control texto-color p-2" name="nivelEstudos"
                                            id="nivelEstudos" (change)='nivelEstudoscad($event)' required>
                                            <option disabled selected value="{{editReforco.nivelEstudos}}">{{editReforco.nivelEstudos}}</option>
                                            <option value="Básico">Básico</option>
                                            <option value="Médio">Médio</option>
                                            <option value="Avançado">Avançado</option>
                                        </select>
                                    </div>
    
                                </div>
    
                                <div class="input-box m-0">
                                    <div class="form-group">
                                        <label class="label-color" for="periodoCurso">Período Curso *</label>
                                        <select class="form-control texto-color p-2" name="periodoCurso"
                                            id="periodoCurso" (change)='periodoCursocad($event)' required>
                                            <option disabled selected value="{{editReforco.periodoCurso}}">{{editReforco.periodoCurso}}</option>
                                            <option value="MANHÃ">Manhã</option>
                                            <option value="TARDE">Tarde</option>
                                        </select>
                                    </div>
    
                                </div>
    
                            </div>
                                
                        </div>

                        <div class="btn-group-line">

                            <button type="button" class="btn btn-success-update me-lg-3" (click)='updateReforco()'>
                                ATUALIZAR
                            </button>
                            <button type="submit" class="btn btn-cancel me-lg-3 btn_lg" id="btnCancelarUser"
                                routerLink="/visueditreforco">
                                CANCELAR
                            </button>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="img-box">
        <img src="https://i.imgur.com/2pBoVla.jpg" />
    </div>
</div>
