<div class="home_logado">

  <div class="whare">

    <main class="table">
      <section class="table__header">
        <h1 class="text-title">2° RESPONSÁVEIS</h1>
        <i class="fa fa-child icon_edit_top" aria-hidden="true"></i>
        <!-- <div class="input-group">
          <input type="search" class="search-style" placeholder="🔍 buscar tipo pacote..." id="titulo"
            [(ngModel)]='tipoPacote' (keyup)='findByTipoPacote()'>
        </div> -->
      </section>
      <section>

        <div class="d-flex justify-content-center m-2 p-0" *ngIf="listSegundoResponsavel == null">
          <div class="title-camp">
            <div class="title-icon-ali">
              <h5 class="text-edit-title-not">Não há 2° Responsáveis, cadastrados no momento.</h5>
              <i class="fa fa-exclamation-circle icon-edit-not" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="table__body">
        <table *ngIf="listSegundoResponsavel != null">
          <thead class="edit_thead">
            <tr>
              <th class=" color_line_title" scope="row"> Nome <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Gênero <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Parentesco <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Celular <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Detalhes <span class="icon-arrow">&UpArrow;</span></th>
            </tr>
          </thead>
          <tbody>
            <tr class="table_line" *ngFor="let itemSegunResponsavel of listSegundoResponsavel | orderBy: ['nome']">

              <th class="line_btn color_line" scope="row">{{itemSegunResponsavel.nome.toUpperCase()}}</th>
              <td class="line_btn ">{{itemSegunResponsavel.genero}}</td>
              <td class="line_btn">{{itemSegunResponsavel.parentesco}}</td>
              <td class="line_btn">{{itemSegunResponsavel.celular}}</td>
              <td class="line_btn">
                <button type="button" class="btn edit_btn"  [routerLink]="['/detalhesegresponsavel', itemSegunResponsavel.id]">
                  <i class="fa fa-info icon_btn" aria-hidden="true"></i>
                </button>
              </td>
              
            </tr>

          </tbody>
        </table>
      </section>
      <div class="container-btn">
      
        <div class="bt-duplo-small">
          <button type="submit" class="btn botao-cancel" routerLink="/inicio">
            VOLTAR
          </button>
        </div>
    
      </div>
    </main>
  </div>
</div>