<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active " id="pills-todos" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
  
      <div class="d-flex justify-content-center m-0 p-0">
        <div class="title_camp_top">
          <hr>
          <div class="title-icon-ali">
            <h2 class="text_edit_title_top">DETALHES DO USUÁRIO</h2>
            <i class="fa fa-cubes icon_edit_top" aria-hidden="true"></i>
          </div>
          <hr>
        </div>
      </div>
  
      <div class="container-principal">
        <div class="result-banco">
  
          <div class="alinhar-blocos">
  
            <div class="form-group container-respo">
  
              <div class="d-flex justify-content-center m-0 p-0">
                <div class="title-camp">
                  <hr>
                  <div class="title-icon-ali">
                    <h5 class="text-edit-title">{{nomeUser.toUpperCase()}}</h5>
                    <i class="fa fa-info-circle icon-edit-camp" aria-hidden="true"></i>
                  </div>
                  <hr>
                </div>
              </div>
  
              <div class="container-info">
  
                <div class="d-block justify-content-between">
  
                  <div class="elemento-info">
                    <p class="titulo-edit">Usuário:</p>
                    <p class="info-edit">{{getUser.usuario}}</p>
                  </div>
  
                  <div class="elemento-info">
                    <p class="titulo-edit">Tipo de Usuário:</p>
                    <p class="info-edit">{{getUser.tipo}}</p>
                  </div>
  
                </div>
 
              </div>
  
              <div class="container-btn">
                <div class="bt-duplo-small">
                  <button type="submit" class="btn botao-cancel" routerLink="/visusuario">
                    VOLTAR
                  </button>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>