<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active " id="pills-todos"
    role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
      
    <div class="d-flex justify-content-center m-0 p-0">
        <div class="title_camp_top">
          <hr>
          <div class="title-icon-ali">
            <h2 class="text_edit_title_top">REFORÇO DETALHADO</h2>
            <i class="fa-solid fa-book-open-reader icon_edit_top"></i>
          </div>
          <hr>
        </div>
    </div>
    
    <div class="container-principal"> 

        <div class="result-banco">

                <div class="form-group container-respo"> 
            
                    <div class="d-flex justify-content-center m-0 p-0">
                        <div class="title-camp">
                          <hr>
                          <div class="title-icon-ali">
                            <h5 class="text-edit-title">{{getReforco.materias}}</h5>
                            <i class="fa fa-info-circle icon-edit-camp" aria-hidden="true"></i>
                          </div>
                          <hr>
                        </div>
                    </div>

                    <div class="container-info">
    
                        <div class="d-block justify-content-between">
                
                            <div class="elemento_info">
                                <p class="titulo-edit">Período Curso:</p>
                                <p class="info-edit">{{getReforco.periodoCurso}}</p>
                            </div>
    
                            <div class="elemento_info">
                                <p class="titulo-edit">Nível de Estudos:</p>
                                <p class="info-edit">{{getReforco.nivelEstudos}}</p>
                            </div>
                            
                        </div>
                    </div>
        
                    <div class="container-btn">

                        <div class="bt-duplo-small"> 

                            <button type="submit" class="btn botao-cancel" routerLink="/visueditreforco">
                                VOLTAR
                            </button>
    
                        </div>                        
                    </div>
    
                </div>
            </div>

         </div>        

    </div>

</div> 