.tab-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2182;
}

.tab-pane {
    position: relative;
    top: auto;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9%;
    padding: 10px;
    background: #ffffff;
    border: 2px solid #2D2182;
    border-radius: 5px 30px 5px 82px;
}

.buscar-edit {
    position: relative;
    width: auto;
    margin: 2%;
  //  background: indianred;
}

.input-busca {
    background: transparent;
    border: 1px solid #2D2182;
    color: #2D2182;
    font-weight: 600;
    font-size: 14pt;
}

.container-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-banco {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_camp_top {
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.text_edit_title_top {
    color: #2D2182;
    padding: 2px;
    margin: 1px;
    font-size: 36pt;
}

.icon_edit_top {
    color: #2D2182;
    padding: 5px;
    font-size: 32pt;
}

.text-edit-title {
    color: #2D2182;
    padding: 2px;
    margin: 1px;
    font-size: 16pt;
}

.icon-edit-camp {
    color: #2D2182;
    padding: 5px;
    margin: 3px;
    margin-top: 1px;
    font-size: 14pt;
}

.container-respo {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  //  margin: 5%;
    padding: 15px;
    border: 1px solid #2D2182;
    background: #c896ff;
    border-radius: 15px;
}

.container-info {
    padding: 1px;
    width: 100%; 
 //   height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
 //   background: wheat;    
}

.elemento-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin: 5px;
 //   background: aqua;
}

.titulo-edit {
    margin: 5px;
    padding: 2px;
    color: #2D2182;
    font-weight: 500; 
    font-size: 14pt;
}

.info-edit {
    margin: 5px;
    padding: 3px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14pt;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%; 
    height: auto;   
 //   background: rgb(111, 78, 18);  
}

.botao-cad {
    width: auto;
    margin: 2px;
    text-align: center;
    color: #ffffff;
    border: 2px #2D2182 solid;
    background-color: #2D2182;
    font-weight: 500;
}
  
.botao-cad:hover {
    color: #ffffff;
    background: #2c218249;
}

.bt-small {
    width: auto;
}

.title-camp {
    width: 100%;
    color: #f9f9f9;
    text-align: center;
    font-weight: 500;
}

.title-icon-ali {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-edit {
    padding: 5px;
    font-size: 30px;
}

.icon-edit-not {
    color: #bb2d3b;
    padding: 5px;
    font-size: 20px;
}

.text-edit-title-not {
    padding: 2px;
    color: #bb2d3b;
}


.botao-cancel {
    width: auto;
    color: #ffffff;
    border: 2px #025e44 solid;
    background-color: #025e44;
    font-weight: 500;
}

.botao-cancel:hover {
    background-color: transparent;
    color: #025e44;
    background-color: #025e445a;
}

@media (max-width:920px) {

    .tab-pane {
        width: 100%;
        padding: 10%;
        margin: 35%;
    }

    .container-principal {
        width: 100%;
    }

    .titulo-edit {
        margin: 0px;
        padding: 1px;
        font-size: 8.5pt;
    }
    
    .info-edit {
        margin: 1px;
        padding: 1px;
        font-size: 8pt;
    }

    .container-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    
    .text-edit-title {
        padding: 5px;
        margin: 1px;
        font-size: 20pt;
    }

    .botao-cad, 
    .botao-cancel {
        margin: 2px;
        font-size: 8.2px;
    }
    
    .bt-duplo-small {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-edit-title {
        font-size: 9pt;
        margin: 0;
        padding: 0;
    }

    .icon-edit {
        font-size: 9pt;
    }

    .text-edit-title-not {
        border: 1px #bb2d3b solid;
        border-radius: 5px;
        padding: 8px;
        font-size: 10pt;
    }
    
    .icon-edit-not {
        display: none;
    }

    
    .text_edit_title_top {
        font-size: 22pt; 
    }
    
}