<div class="home_logado">

  <div class="whare">

    <main class="table">
      <section class="table__header">
        <h1 class="text-title">PACOTES</h1>
        <div class="input-group">
          <input type="search" class="search-style" placeholder="🔍 buscar tipo pacote..." id="titulo"
            [(ngModel)]='tipoPacote' (keyup)='findByTipoPacote()'>
        </div>
      </section>
      <section>

        <div class="d-flex justify-content-center m-2 p-0" *ngIf="listPacote == null">
          <div class="title-camp">
            <div class="title-icon-ali">
              <h5 class="text-edit-title-not">Não há pacotes, cadastrados no momento.</h5>
              <i class="fa fa-exclamation-circle icon-edit-not" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="table__body">
        <table *ngIf="listPacote != null">
          <thead class="edit_thead">
            <tr>             
              <th class=" color_line_title" scope="row"> Criança <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Tipo Pacote <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Período <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Quantidade de Dias <span class="icon-arrow">&UpArrow;</span>
              <th class=" color_line_title" scope="row"> Valor <span class="icon-arrow">&UpArrow;</span></th>
              <!-- <th class=" color_line_title" scope="row"> Data de Pagamento <span class="icon-arrow">&UpArrow;</span>
              </th> -->
              <th class=" color_line_title" scope="row"> Detalhes <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Editar <span class="icon-arrow">&UpArrow;</span></th>
              <!-- <th class=" color_line_title" scope="row"> Apagar <span class="icon-arrow">&UpArrow;</span></th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="table_line" *ngFor="let itemPacote of listAllPagamentoPacote | orderBy: ['nome']">

              <th class="line_btn color_line" scope="row">{{itemPacote.nome.toUpperCase()}}</th>
              <th class="line_btn color_line">{{itemPacote.tipoPacote.toUpperCase()}}</th>
              <td class="line_btn">{{itemPacote.periodo}}</td>
              <td class="line_btn">{{itemPacote.qtdDias}}</td>
              <td class="line_btn">{{itemPacote.valorPacote | currency:'BRL':'symbol':'1.2-2'}}</td>
              <!-- <td class="line_btn">
                <div class="d-flex justify-content-start">
                  <button type="button" class="btn edit_btn" [routerLink]="['/detalhecrianca', itemPacote.id]">
                    <i class="fas fa-calendar-alt icon_btn"></i>
                  </button>
                  <p class="ml-3 mt-2">Definir Data</p>
                </div>
              </td> -->
              <td class="line_btn">
                <!-- [routerLink]="['/detalhepacote', itemPacote.id]" -->
                <button type="button" class="btn edit_btn" (click)="getId(selectedUserId = itemPacote.pacoteId)"
                  [id]="'btn-modal-' + nextButtonId" data-bs-toggle="modal" data-bs-target="#myModal2">
                  <i class="fa fa-info icon_btn" aria-hidden="true"></i>
                </button>
              </td>
              <td class="line_btn ">
                <button type="button" class="btn edit_btn" [routerLink]="['/editpacote', itemPacote.pacoteId]">
                  <i class="fas fa-edit icon_btn"></i>[
                </button>
              </td>
              <!--                 <td class="line_btn"><button type="button" class="btn edit_btn_danger" (click)="getId(itemPacote.id)"
                      data-bs-toggle="modal" data-bs-target="#myModal"><i class="far fa-trash-alt icon_btn"></i></button>
                  </td> -->

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">APAGAR PACOTE </h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente apagar esse pacote?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-success-update" data-bs-dismiss="modal"
                        routerLink="/visupacote">Não</button>
                      <button type="button" class="btn btn-primary btn-cancel" data-bs-dismiss="modal"
                        (click)="deletarPacote()">Sim</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal 2-->
              <div class="modal fade mt-0" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal2" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">DETALHES DO PACOTE</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngIf="selectedUserId != null">
                      <div class="title-icon-ali">
                        <h5 class="text-edit-title">Tipo de Pacote: {{getPacote.tipoPacote.toUpperCase()}}</h5>
                      </div>
                      <div class="container-info w-75">

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Período:</p>
                          <p class="ml-2">{{getPacote.periodo}}</p>
                        </div>

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Quantidade de dias:</p>
                          <p class="ml-2">{{getPacote.qtdDias}}</p>
                        </div>

                      </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                      <div class="d-flex justify-content-start">
                        <p>Valor do Pacote:</p>
                        <p class="ml-2 text_align">{{getPacote.valorPacote | currency:'BRL':'symbol':'1.2-2'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </section>

      <div class="container-btn">
        <div class="bt-duplo-small">
          <button type="submit" class="btn botao_return" routerLink="/inicio">
            VOLTAR
          </button>
        </div>
      </div>
    </main>
  </div>
</div>