.bg-group {
  z-index: 99999;
  background-color: #2c2182;
  color: #fff;
}

.icon-color {
  color: #fff;
  font-size: 24px;
}

.navbar-title {
  font-size: 35px;
  font-weight: 900;
  font-family: 'Trirong', serif;
}

.font-title {
  font-weight: 400;
   font-family: 'Trirong', serif;
}

.text-bg-group {
  background-color: #2c2182;
  color: #fff;
}

.text-color-group, .text-color-group-dropdown {
  color: #fff;
}

.text-color-group:hover {
  color: #ffffffa0;
}

.text-color-group-dropdown:hover {
  color: #2c2182;
}

.dropdown-menu-group {
  background-color: #2c2182;
  color: #fff;
  border-color: #fff;
}
