<div *ngIf='authService.adm()' class="content-box">

  <div class="form-box">

    <form class="forms-campos-cad1">

      <h2 class="form-title">ALTERAR INFORMAÇÕES DO USUÁRIO</h2>

      <div class="continer-forms1">

        <div class="input-box">
          <div class="form-group campo">
            <input [(ngModel)]="editUser.usuario" class="form-control" type="usuario" name="usuario" id="usuario" required />
            <label for="usuario" class="label-edit">Usuário*</label>
          </div>
        </div>

        <div class="input-box">
          <div class="form-group campo campoSenha">
              <input (input)='primeiraSenha($event)' class="form-control" type="password" name="senha" id="senha" required />
              <label for="senha" class="label-edit">Senha*</label>
              <button type="button" (click)="togglePass()" class="botao-revela">
                <i class="fa-solid  fa-eye iconPass" id="text"></i>
                <i class="fa-solid fa-eye-slash iconPass" id="pass"></i>
              </button>
          </div>
        </div>

        <div class="input-box">
          <div class="form-group campo campoSenha">
              <input (input)='confirmarSenha($event)' class="form-control" type="password" name="confirmSenha" id="confirmSenha" required />
              <label for="confirmSenha" class="label-edit">Confirmar Senha*</label>
              <button type="button" (click)="togglePass2()" class="botao-revela">
                <i class="fa-solid  fa-eye iconPass2" id="text2"></i>
                <i class="fa-solid fa-eye-slash iconPass2" id="pass2"></i>
              </button>
          </div>
        </div>

        <div class="input-box">
          <div class="form-group campo">
            <label for="tipo" class="label_edit_2">Tipo de Usuário*</label>
            <input disabled="true" [(ngModel)]="editUser.tipo" class="form-control" type="tipo" name="tipo" id="tipo"  />
          </div>
        </div>
        <!-- <div class="input-box">
            <div class="form-group campo col texto-color">
                <label for="tipo" class="label-edit-tp">Tipo de Usuário*</label>
                <select class="form-control form-select" name="tipo" id="tipo" (change)='tipoUser($event)'>
                  <option value={{editUser.tipo}}>{{editUser.tipo}}</option>
                  <option value="ADMINISTRADOR">Administrador</option>
                  <option value="PADRÃO">Padrão</option>
              </select>
            </div>
        </div> -->

        <div class="btn-group-line">

          <button type="submit" class="btn btn-cancel me-lg-5" id="btnCancelarUser" routerLink="/inicio">
            CANCELAR
          </button>
          
          <button type="submit" class="btn btn-success-update" (click)='updateUsuario()'>
            ATUALIZAR
          </button>

        </div>

      <!--   <div class="btn-position">
          <button type="button" class="btn botao-roxo" id="myBtnUser">
            EDITAR
          </button>
        </div> -->

      </div>


    </form>

    <form class="forms-campos-cad2">

      <h2 class="form-title">ALTERAR INFORMAÇÕES DO PROPRIETÁRIO</h2>

      <div class="input-box">
        <div class="form-group campo">
          <input [(ngModel)]="editProprietario.nome" class="form-control" type="text" name="nome" id="nome" required />
          <label for="nome" class="label-edit">Nome*</label>
        </div>
      </div>

      <div class="input-box">
        <div class="form-group campo">
          <input [(ngModel)]="editProprietario.cnpj" class="form-control" type="text" name="cnpj" id="cnpj" required />
          <label for="cnpj" class="label-edit">CNPJ*</label>
        </div>
      </div>

      <div class="btn-group-line-2">

        <button type="submit" class="btn btn-cancel-2 me-lg-5" id="btnCancelarUser" routerLink="/inicio">
          CANCELAR
        </button>
        <button type="submit" class="btn btn-success-update-2" (click)='updateProprietario()'>
          ATUALIZAR
        </button>
      </div>

    </form>

  </div>

</div>


 <!-- Modal ALTERAR USUÁRIO-->
 <div class="modal fade" id="myModalUser">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-title-modal-user">ALTERAR INFORMAÇÕES DO USUÁRIO</h4>
        <button class="close" data-dismiss="modal" id="btnCloseUser">&times;</button>
      </div>
      <div class="modal-body">

       <form class="forms-campos-modal-user">

         <div class="input-box-modal-user">
          <div class="form-group campo-modal-user">
            <input [(ngModel)]="editUser.usuario" class="form-control" type="email" name="usuario" id="usuario" (blur)="validatePreenchido()"required />
            <label for="usuario" class="label-edit">Usuário*</label>
          </div>
        </div>

        <div class="input-box-modal-user">
          <div class="form-group campo-modal-user campoSenhaModal">
              <input (input)='confirmarSenha($event)' class="form-control" type="password" name="senha" id="senha" required />
              <label for="senha" class="label-edit">Senha*</label>
              <button type="button" (click)="togglePass()" class="botao-revela">
                <i class="fa-solid  fa-eye iconPassModal" id="textModal"></i>
                <i class="fa-solid fa-eye-slash iconPassModal" id="passModal"></i>
              </button>
          </div>
        </div>

        <div class="input-box-modal-user">
          <div class="form-group campo-modal-user campoSenhaModal">
              <input [(ngModel)]="editUser.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha" required />
              <label for="confirmSenha" class="label-edit">Confirmar Senha*</label>
              <button type="button" (click)="togglePass2()" class="botao-revelaModal">
                <i class="fa-solid  fa-eye iconPass2Modal" id="text2Modal"></i>
                <i class="fa-solid fa-eye-slash iconPass2Modal" id="pass2Modal"></i>
              </button>
          </div>
        </div>

        <div class="input-box-modal-user">
          <div class="form-group campo-modal-user col texto-color">
              <label for="tipo" class="label-edit-tp-modal-user">Tipo de Usuário*</label>
              <select class="form-control form-select-modal-user" name="tipo" id="tipo" (change)='tipoUser($event)'>
                <option value={{editUser.tipo}}>{{editUser.tipo}}</option>
                <option value="padrao">Padrão</option>
            </select>
          </div>
      </div>

       </form>
      </div>
      <div class="modal-footer">
       <div class="btn-group-line-modal-user">

         <button type="submit" class="btn btn-cancel-modal-user me-lg-5" id="btnCancelarUser">
           CANCELAR
         </button>
         <button type="submit" class="btn btn-success-update-modal-user" (click)='updateProprietario()'>
           ATUALIZAR
         </button>
       </div>
      </div>
    </div>

  </div>
</div>


 <!-- Modal ALTERAR PROPRIETÁRIO -->
 <div class="modal fade" id="myModalPropri">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title form-title-modal">ALTERAR INFORMAÇÕES DO PROPRIETÁRIO </h4>
         <button class="close" data-dismiss="modal" id="btnClosePropri">&times;</button>
       </div>
       <div class="modal-body">

        <form class="forms-campos-modal">

          <div class="input-box-modal">
            <div class="form-group campo-modal">
              <input [(ngModel)]="editProprietario.nome" class="form-control" type="text" name="nome" id="nome" required />
              <label for="nome" class="label-edit">Nome*</label>
            </div>
          </div>

          <div class="input-box-modal">
            <div class="form-group campo-modal">
              <input [(ngModel)]="editProprietario.cnpj" class="form-control" type="text" name="cnpj" id="cnpj" required />
              <label for="cnpj" class="label-edit">CNPJ*</label>
            </div>
          </div>

          <div class="input-box">
              <div class="form-group campo-modal col texto-color-modal">
                <label for="tipo" class="label-edit-tp-modal">Usuários:*</label>
                <p for="tipo" class="label-edit-mensagem-modal">(Obs. Escolha o usuário vinculado ao proprietário a ser alterado.)</p>
                <select class="form-control form-select-modal" name="usuario" id="usuario" [(ngModel)]="idUserN" (change)='findByAllUserAll()'>
                  <option value={{editProprietario.usuario.id}}>{{editProprietario.usuario.usuario}}</option>
                  <option *ngFor="let users of listUser" value="{{users.id}}">{{users.usuario}}</option>
      -          </select>
              </div>
          </div>

        </form>
       </div>
       <div class="modal-footer">
        <div class="btn-group-line-modal">

          <button type="submit" class="btn btn-cancel-modal me-lg-5" id="btnCancelarPropri">
            CANCELAR
          </button>
          <button type="submit" class="btn btn-success-update-modal" (click)='updateProprietario()'>
            ATUALIZAR
          </button>
        </div>
       </div>
     </div>

   </div>
 </div>

