.tab-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2182;
}

.tab-pane {
    position: relative;
    top: auto;
    width: 40%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 9%;
    padding: 10px;
    background: #fff;
    border: 2px solid #2D2182;
    border-radius: 5px 30px 5px 82px;
}

.title_camp_top {
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.text_edit_title_top {
    color: #2D2182;
    padding: 2px;
    margin: 1px;
    font-size: 22PT;
}

.icon_edit_top {
    color: #2D2182;
    padding: 5px;
    font-size: 25pt;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-banco {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.alinhar-blocos {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
   // background-color: yellowgreen;
}

.container-respo {
    position: relative;
    width: 80%;
    height: auto;
    display: block;
    align-items: center;
    justify-content: left;
    margin: 1%;
    padding: 15px;
    border: 1px solid #2D2182;
    background: #c896ff;
    border-radius: 15px;
}

.container-info {
    padding: 1px;
    width: 100%; 
 //   height: 85%;
    display: block;
    align-items: center;   
 //   background: wheat;    
}

.elemento-info {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px;
 //   background: aqua;
}

.titulo-edit {
    margin: 5px;
    padding: 2px;
    color: #2D2182;
    font-weight: 500; 
    font-size: 10pt;
}

.info-edit {
    margin: 5px;
    padding: 3px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12pt;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%; 
    height: auto;   
 //   background: rgb(111, 78, 18);  
}

.title-camp {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

.title-icon-ali {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-edit-title {
    padding: 5px;
    margin: 1px;
}

.icon-edit {
    padding: 5px;
    font-size: 30px;
}

.icon-edit-camp {
    padding: 5px;
    margin: 3px;
    margin-top: 2px;
    font-size: 14pt;
}

.icon-edit-not {
    color: #bb2d3b;
    padding: 5px;
    font-size: 20px;
}

.text-edit-title-not {
    padding: 2px;
    color: #bb2d3b;
}

.botao-cad {
    margin: 2px;
    width: auto;
    text-align: center;
    font-size: 10pt;
    color: #ffffff;
    border: 2px #2D2182 solid;
    background-color: #2D2182;
    font-weight: 500;
}
  
.botao-cad:hover {
    color: #2D2182;
    background: #2c218249;
}

.botao-cancel {
    margin: 2px;
    width: auto;
    font-size: 10pt;
    color: #ffffff;
    border: 2px #025e44 solid;
    background-color: #025e44;
    font-weight: 500;
}

.botao-cancel:hover {
    background-color: transparent;
    color: #025e44;
    background-color: #025e445a;
}

@media (max-width:920px) {

    .tab-pane {
        width: 110%;
        padding: 10%;
        margin: 35%;
    }

    .container-principal {
        width: 100%;
    }

    .container-respo {
        width: 100%;
        margin: 10%;
    }

    .elemento-info {
        display: block;
    }

    .titulo-edit {
        margin: 0px;
        padding: 1px;
        font-size: 8.5pt;
    }
    
    .info-edit {
        margin: 1px;
        padding: 1px;
        font-size: 8pt;
    }

    .container-btn {
        display: block; 
        margin: 0 auto;
        width: 80%;
    }
    
    .text-edit-title {
        font-size: 20pt;
        margin: 0;
        padding: 0;
    }

    .botao-cad, 
    .botao-cancel {
        margin: 2px;
        font-size: 8.2px;
    }
    
    .bt-duplo-small {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-edit-title {
        font-size: 9pt;
        margin: 0;
        padding: 0;
    }

    .icon-edit {
        font-size: 9pt;
    }

    .text-edit-title-not {
        border: 1px #bb2d3b solid;
        border-radius: 5px;
        padding: 8px;
        font-size: 10pt;
    }
    
    .icon-edit-not {
        display: none;
    }
    
}

