<div class="home_logado">

  <div class="wrapper">
    <div data-server-rendered="true" id="__nuxt">
        <div id="__layout">
            <div class="main">
                <main data-fetch-key="Courses:0" class="courses">
                    <div class="m-container">
                        <div class="content-wrap">
                            <div id="content" class="content-inner-wrap">
                                <section class="functions">
                                    <!-- <div class="functions__top-wrap">
                                        <h2 class="functions__title h2">CADASTRAR</h2>
                                    </div> -->
                                    <div class="functions__list">
                                                                
                                      <a routerLink="/cadpagamento-pacote" class="functions__item" style="--function-color:#8a77e0 ;">
                                        <span class="home_logado-s functions__item-duration"></span>
                                        <div class="functions__item-wrap">
                                            <h3 class="functions__item-title">DEFINIR DATA DE PAGAMENTO</h3> 
                                        </div>
                                        <div class="functions__item-image">
                                            <i class="fa fa-id-card icon_edit_users" aria-hidden="true"></i>
                                        </div>
                                      </a>                                 
                                                                                                  
                                       
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
  </div>
</div>






<!-- <div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active " id="pills-todos" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

    <div class="d-flex justify-content-center m-0 p-0">
      <div class="title_camp_top">
        <hr>
        <div class="title-icon-ali">
          <h2 class="text_edit_title_top">DETALHES DO PACOTE</h2>
          <i class="fas fa-cube icon_edit_top"></i>
        </div>
        <hr>
      </div>
    </div>

    <div class="container-principal">
      <div class="result-banco">

        <div class="alinhar-blocos">

          <div class="form-group container-respo">

            <div class="d-flex justify-content-center m-0 p-0">
              <div class="title-camp">
                <hr>
                <div class="title-icon-ali">
                  <h5 class="text-edit-title">{{getPacote.tipoPacote.toUpperCase()}}</h5>
                  <i class="fa fa-info-circle icon-edit-camp" aria-hidden="true"></i>
                </div>
                <hr>
              </div>
            </div>

            <div class="container-info w-75">

              <div class="d-block justify-content-between">

                <div class="elemento-info">
                  <p class="titulo-edit">Período:</p>
                  <p class="info-edit">{{getPacote.periodo}}</p>
                </div>

                <div class="elemento-info">
                  <p class="titulo-edit">Quantidade de dias:</p>
                  <p class="info-edit">{{getPacote.qtdDias}}</p>
                </div>

              </div>

              <div class="d-flex justify-content-between">

                <div class="elemento-info">
                  <p class="titulo-edit">Valor do Pacote:</p>
                  <p class="info-edit">{{getPacote.valorPacote | currency:'BRL':'symbol':'1.2-2'}}</p>
                </div>

              </div>

            </div>

            <div class="container-btn">
              <div class="bt-duplo-small">
                <button type="submit" class="btn botao-cancel" routerLink="/visupacote">
                  VOLTAR
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div> -->