<div class="container-cad">
  <div class="container-fluid">
    <div class="container-fluid" id='topo'>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5 mb-5 justificar">
                <div class="row d-flex justify-content-center">

                    <div class="col-md-10 caixa shadow-sm p-2">
                      
                      <!-- <div class="title-caixa">
                        <h2>CADASTRAR RESPONSÁVEL</h2>
                      </div> -->

                      <div class="d-flex justify-content-center m-0 p-0">
                        <div class="title-camp">
                          <hr>
                          <div class="title-icon-ali">
                            <h2 class="text-edit-title">CADASTRAR RESPONSÁVEL</h2>
                            <i class="fa fa-user-plus icon-edit" aria-hidden="true"></i>                            </div>
                          <hr>
                        </div>
                      </div>

                      <form class="margin-dentro" [formGroup]="formulario">

                        <div class="d-flex justify-content-between">
                          <div class="input-box m-0">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.nome" class="form-control" type="text" formControlName="nome" id="nome" required />
                                <label class="label-edit" for="nome">Nome*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="(formulario.get('nome')?.errors?.['required'] ||
                                   formulario.get('nome')?.errors?.['pattern'])
                                && formulario.get('nome')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, somente letras!
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="input-box m-0">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.cpf" class="form-control" type="text" formControlName="cpf" id="cpf" required />
                                <label class="label-edit" for="cpf">CPF*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position w-75" *ngIf="formulario.get('cpf')?.errors?.['validandoCpf'] &&
                                  formulario.get('cpf')?.touched">
                                <span class="m-lg-2">
                                  CPF Inválido!
                                </span>
                              </div>
                              <!-- <div class="balao cax-position" *ngIf="(formulario.get('cpf')?.errors?.['ValidaCpf']) && formulario.get('cpf')?.touched">
                                <span class="m-lg-2">
                                  CPF Inválido!
                                </span>
                              </div> -->
                            </div>
                          </div>

                        </div>

                        <div class="d-flex justify-content-between">

                          <div class="input-box m-0">
                            <div class="form-group">
                                <label class="label-color" for="dataNasc">Data de Nascimento*</label>
                                <input class="form-control texto-color" type="date" formControlName="dataNasc" 
                                       id="dataNasc" (change)="dataConvert($event)" required />
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="(
                                   formulario.get('dataNasc')?.errors?.['required'] ||
                                   formulario.get('dataNasc')?.errors?.['menorDeIdade']) &&
                                   formulario.get('dataNasc')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, não pode ser menor de idade!
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="input-box m-0">
                            <div class="form-group">
                                <label class="label-color" for="tipoGen">Gênero*</label>
                                <select class="form-control texto-color" formControlName="tipoGen" id="tipoGen" (change)='genero($event)' required>
                                  <option disabled selected value="">Selecione Gênero:</option>
                                  <option value="Feminino">Feminino</option>
                                  <option value="Masculino">Masculino</option>
                                  <option value="outros">Outros(Trans, não-binário)</option>
                              </select>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="formulario.get('tipoGen')?.errors?.['required'] && formulario.get('tipoGen')?.touched">
                                <span class="m-lg-2">
                                  Escolha obrigatória!
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="d-flex justify-content-center">
                          <div class="title-camp">
                            <hr>
                            <div class="title-icon-ali">
                              <h6 class="text-edit-title">TELEFONES PARA CONTATO*</h6>
                              <i class="fas fa-phone-square icon-edit"></i>
                            </div>
                            <hr>
                          </div>
                        </div>

                        <div class="d-flex justify-content-around">

                          <div class="input-box">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.celular" class="form-control" type="text" formControlName="celular" id="celular"/>
                                <label class="label-edit" for="celular">Celular*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="(formulario.get('celular')?.errors?.['required'] ||
                                formulario.get('celular')?.errors?.['maxlength'] ||
                                formulario.get('celular')?.errors?.['minlength'] ||
                                formulario.get('celular')?.errors?.['pattern'])  &&
                                formulario.get('celular')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, somente números e no máximo 11!
                                </span>
                              </div>
                            </div>

                          </div>

                          <div class="input-box">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.telefone" class="form-control" type="text" formControlName="telResidencial" id="telResidencial"/>
                                <label class="label-edit" for="telResidencial">Residencial</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="(
                                  formulario.get('telResidencial')?.errors?.['maxlength'] ||
                                  formulario.get('telResidencial')?.errors?.['minlength'] ||
                                  formulario.get('telResidencial')?.errors?.['pattern']) &&
                                  formulario.get('telResidencial')?.touched">
                                <span class="m-lg-2">
                                  Somente números e com 10 números!
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="input-box">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.telefoneComercial" class="form-control" type="text" formControlName="telComercial" id="telComercial"/>
                                <label class="label-edit" for="telComercial">Comercial</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="(
                                  formulario.get('telComercial')?.errors?.['maxlength'] ||
                                  formulario.get('telComercial')?.errors?.['minlength'] ||
                                  formulario.get('telComercial')?.errors?.['pattern']) &&
                                  formulario.get('telComercial')?.touched">
                                <span class="m-lg-2">
                                  Somente números e com 11 números!
                                </span>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="d-flex justify-content-around">
                          <div class="title-camp">
                            <hr>
                            <div class="title-icon-ali">
                              <h6 class="text-edit-title">ENDEREÇO</h6>
                              <i class="fas fa-map-marked-alt icon-edit"></i>
                            </div>
                            <hr>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between">
                          <div class="input-box m-0">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.cep" class="form-control" type="text" formControlName="cep" id="cep" required />
                                <label class="label-edit" for="cep">CEP*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position w-75" *ngIf="(formulario.get('cep')?.errors?.['required'] ||
                                  formulario.get('cep')?.errors?.['maxlength'] ||
                                  formulario.get('cep')?.errors?.['minlength'] ||
                                  formulario.get('cep')?.errors?.['pattern']) &&
                                  formulario.get('cep')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, somente números e no máximo 8!
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="input-box m-0">
                            <div class="form-group campo">
                              <input [(ngModel)]="cadResponsavel.rua" class="form-control" type="text" formControlName="rua" id="rua" required />
                              <label class="label-edit" for="rua">Rua*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position w-50" *ngIf="(formulario.get('rua')?.errors?.['required'] ||
                                  formulario.get('rua')?.errors?.['pattern']) &&
                                  formulario.get('rua')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, somente letras!
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="d-flex justify-content-between">

                          <div class="input-box m-0">
                            <div class="form-group campo">
                              <input [(ngModel)]="cadResponsavel.numMoradia" class="form-control w-50" type="text" formControlName="numCasa" id="numCasa" required />
                              <label class="label-edit" for="numCasa">Numero*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="formulario.get('numCasa')?.errors?.['required'] &&
                                  formulario.get('numCasa')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório!
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="input-box m-0">
                            <div class="form-group campo">
                              <input [(ngModel)]="cadResponsavel.complemento" class="form-control w-50" type="text" formControlName="complemento" id="complemento"/>
                              <label class="label-edit" for="complemento">Complemento</label>
                            </div>
                          </div>

                          <div class="input-box m-0">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.bairro" class="form-control" type="text" formControlName="bairro" id="bairro" required />
                                <label class="label-edit" for="bairro">Bairro*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position w-50" *ngIf="(formulario.get('bairro')?.errors?.['required'] ||
                                  formulario.get('bairro')?.errors?.['pattern']) &&
                                  formulario.get('bairro')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, somente letras!
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between">
                          <div class="input-box m-0">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.cidade" class="form-control" type="text" formControlName="cidade" id="cidade" required />
                                <label class="label-edit" for="cidade">Cidade*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="(formulario.get('cidade')?.errors?.['required'] ||
                                  formulario.get('cidade')?.errors?.['pattern']) && formulario.get('cidade')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, somente letras!
                                </span>
                              </div>
                            </div>

                          </div>

                          <div class="input-box m-0">
                            <div class="form-group campo">
                                <input [(ngModel)]="cadResponsavel.estado" class="form-control" type="text" formControlName="estado" id="estado" required />
                                <label class="label-edit" for="estado">Estado*</label>
                            </div>

                            <div class="mensagem-input-error">
                              <div class="balao cax-position" *ngIf="(formulario.get('estado')?.errors?.['required'] ||
                                  formulario.get('estado')?.errors?.['pattern']) && formulario.get('estado')?.touched">
                                <span class="m-lg-2">
                                  Preenchimento obrigatório, somente letras!
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                      <div class="input-box">
                          <div class="form-group texto-color">
                            <label for="usuario" class="label-edit-tp">Usuários:*</label>
                            <p class="label-edit-mensagem">(Obs. Escolha o usuário vinculado ao proprietário a ser cadastrado.)</p>
                            <select class="form-control form-select w-75" formControlName="usuario" id="usuario" [(ngModel)]="idUser" (change)='findByAllUser()'>
                              <option disabled selected value="">Selecione o nome do usuário:</option>
                              <option *ngFor="let users of listUser" value="{{users.id}}" >{{users.usuario}}</option>
                            </select>
                          </div>

                          <div class="mensagem-input-error">
                            <div class="balao cax-position w-50" *ngIf="formulario.get('usuario')?.errors?.['required'] &&
                                formulario.get('usuario')?.touched">
                              <span class="m-lg-2">
                                Seleção obrigatória!
                              </span>
                            </div>
                          </div>
                      </div>

                      <div class="d-flex justify-content-around m-4">
                        <button type="submit" class="btn botao-cad m-auto" (click)="cadastrar()" [disabled]="!formulario.valid">
                          CADASTRAR
                        </button>
                        <button type="submit" class="btn botao-cancel m-auto" routerLink="/inicio">
                            CANCELAR
                        </button>
                      </div>

                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
