<div class="home_logado">

  <div class="whare">

    <main class="table">
      <section class="table__header">
        <h1 class="text-title">RESPONSÁVEIS</h1>
        <div class="input-group">
          <input type="search" class="search-style" placeholder="🔍 buscar responsável..." id="titulo"
            [(ngModel)]='responsavelNome' (keyup)='findByNomeResponsavel()'>
        </div>
      </section>
      <section>

        <div class="d-flex justify-content-center m-2 p-0" *ngIf="listResponsavel == null">
          <div class="title-camp">
            <div class="title-icon-ali">
              <h5 class="text-edit-title-not">Não há aulas de reforço, cadastrados no momento.</h5>
              <i class="fa fa-exclamation-circle icon-edit-not" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="table__body">
        <table *ngIf="listResponsavel != null">
          <thead class="edit_thead">
            <tr>
              <th class=" color_line_title" scope="row"> Nome <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Contato <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Criança <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Detalhes <span class="icon-arrow">&UpArrow;</span></th>
              <th class=" color_line_title" scope="row"> Editar <span class="icon-arrow">&UpArrow;</span>
              </th>
              <th class=" color_line_title" scope="row"> Apagar <span class="icon-arrow">&UpArrow;</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table_line" *ngFor="let itemResponsavel of listResponsavel | orderBy: ['nome']">

              <th class="line_btn color_line" scope="row">
                {{itemResponsavel.nome.toUpperCase()}}
              </th>
              <td class="line_btn">{{itemResponsavel.celular}}</td>
              <td class="line_btn">{{itemResponsavel.crianca}}</td>
              <!-- [routerLink]="['/detalheresponsavel', itemResponsavel.id]" -->
              <td class="line_btn">
                <button type="button" class="btn edit_btn"
                    (click)="getId(selectedUserId = itemResponsavel.id)" [id]="'btn-modal-' + nextButtonId"
                    data-bs-toggle="modal" data-bs-target="#myModal2">
                    <i class="fa fa-info icon_btn" aria-hidden="true"></i>
                </button>
              </td>
              <td class="line_btn"><button type="button" class="btn edit_btn"
                  [routerLink]="['/editresposavel', itemResponsavel.id]"><i class="fas fa-edit icon_btn"></i></button>
              </td>
              <td class="line_btn"><button type="button" class="btn edit_btn_danger" (click)="getId(itemResponsavel.id)"
                  data-bs-toggle="modal" data-bs-target="#myModal"><i class="far fa-trash-alt icon_btn"></i></button>
              </td>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">APAGAR RESPONSÁVEL</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente apagar o responsável?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-success-update" data-bs-dismiss="modal"
                        routerLink="/visueditresponsavel">Não</button>
                      <button type="button" class="btn btn-primary btn-cancel" data-bs-dismiss="modal"
                        (click)="deletarResponsavel()">Sim</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal 2-->
              <div class="modal fade mt-0" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog text_modal2" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">DETALHES DO RESPONSÁVEL</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngIf="selectedUserId != null">
                      <div class="title-icon-ali">
                        <h5 class="text-edit-title">{{getResponsavel.nome.toUpperCase()}}</h5>
                      </div>
                      <div class="container-info w-75">

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Nascido:</p>
                          <p class="ml-2">{{getResponsavel.dtNascimento | date:'dd/MM/yyyy'}}</p>
                        </div>

                        <div class="d-flex justify-content-between">

                          <div class="d-flex justify-content-start">
                            <p class="titulo-edit">Genêro:</p>
                            <p class="ml-2">{{getResponsavel.genero}}</p>
                          </div>

                          <div class="d-flex justify-content-start ml-3">
                            <p class="titulo-edit">CPF:</p>
                            <p class="ml-2">{{getResponsavel.cpf}}</p>
                          </div>
                        </div>

                        <div class=" d-block justify-content-start">

                          <div class="d-flex justify-content-start mb-3">
                            <div class="justify-content-start">
                              <h5 class="text-edit-title">ENDEREÇO</h5>
                            </div>
                          </div>

                          <div class="d-flex justify-content-between">

                            <div class="d-flex justify-content-start">
                              <p class="titulo-edit">Rua:</p>
                              <p class="ml-2">{{getResponsavel.rua}}</p>
                            </div>

                            <div class="d-flex justify-content-start">
                              <p class="titulo-edit">N°:</p>
                              <p class="ml-2">{{getResponsavel.numMoradia}}</p>
                            </div>

                          </div>

                          <div class="d-flex justify-content-between">

                            <div class="d-flex justify-content-start">
                              <p class="titulo-edit">Complemento:</p>
                              <p class="ml-2">{{getResponsavel.complemento}}</p>
                            </div>
                          </div>

                          <div class="d-flex justify-content-start">
                            <p class="titulo-edit">Bairro:</p>
                            <p class="ml-2">{{getResponsavel.bairro}}</p>
                          </div>

                          <div class="d-flex justify-content-start">
                            <p class="titulo-edit">CEP:</p>
                            <p class="ml-2">{{getResponsavel.cep}}</p>
                          </div>

                          <div class="d-flex justify-content-between">


                            <div class="d-flex justify-content-start">
                              <p class="titulo-edit">Cidade:</p>
                              <p class="ml-2">{{getResponsavel.cidade}}</p>
                            </div>

                            <div class="d-flex justify-content-start">
                              <p class="titulo-edit">Estado:</p>
                              <p class="ml-2">{{getResponsavel.estado}}</p>
                            </div>

                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="modal-footer d-block justify-content-start">
                      <div class="d-flex justify-content-center">
                        <hr>
                        <h5 class="text-edit-title">CONTATO</h5>
                        <hr>
                      </div>

                      <div class="d-block justify-content-start">

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Celular:</p>
                          <p class="ml-2">{{getResponsavel.celular}}</p>
                        </div>

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Telefone:</p>
                          <p class="ml-2">{{getResponsavel.telefone}}</p>
                        </div>

                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">Telefone Comercial:</p>
                          <p class="ml-2">{{getResponsavel.telefoneComercial}}</p>
                        </div>
                        
                        <div class="d-flex justify-content-start">
                          <p class="titulo-edit">E-mail:</p>
                          <p class="ml-2">{{getResponsavel.usuario.usuario}}</p>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </tr>
          </tbody>
        </table>
      </section>
      <div class="container-btn">
        <div class="bt-duplo-small">
          <button type="submit" class="btn botao_return" routerLink="/inicio">
            VOLTAR
          </button>
        </div>
      </div>
    </main>
  </div>
</div>