<div class="home_logado">

  <div class="wrapper">
    <div data-server-rendered="true" id="__nuxt">
        <div id="__layout">
            <div class="main">
                <main data-fetch-key="Courses:0" class="courses">
                    <div class="m-container">
                        <div class="content-wrap">
                            <div id="content" class="content-inner-wrap">
                                <section class="functions">
                                    <!-- <div class="functions__top-wrap">
                                        <h2 class="functions__title h2">CADASTRAR</h2>
                                    </div> -->
                                    <div class="functions__list">

                                    
                                        <a routerLink="/cadpacote" class="functions__item" style="--function-color:#8a77e0;">
                                          <span class="home_logado-s functions__item-duration"></span>
                                          <div class="functions__item-wrap">
                                              <h3 class="functions__item-title">CADASTRAR PACOTE</h3>
                                          </div>
                                          <div class="functions__item-image">
                                              <img style="filter: invert(100%);" height="130" width="135" alt="" src="../../../assets/img/package.png">
                                          </div>
                                        </a>

                                        <a routerLink="/cadreforco" class="functions__item" style="--function-color:#c896ff;">
                                            <span class="home_logado-s functions__item-duration"></span>
                                            <div class="functions__item-wrap">
                                                <h3 class="functions__item-title">CADASTRAR REFORÇO</h3>
                                            </div>
                                            <div class="functions__item-image">
                                                <img style="filter: invert(100%); "height="130" width="135" alt="" src="../../../assets/img/book.png">
                                            </div>
                                        </a>

                                        <a routerLink="/cadusuario" class="functions__item" style="--function-color:#c896ff;">
                                            <span class="home_logado-s functions__item-duration"></span>
                                            <div class="functions__item-wrap">
                                                <h3 class="functions__item-title">CADASTRAR USUÁRIOS</h3>                                                
                                            </div>
                                            <div class="functions__item-image">
                                                <div class="icons_unidos">
                                                    <i class="fa fa-users icon_edit_users" aria-hidden="true"></i>
                                                    <i class="fa fa-plus icon_edit_plus" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </a>

                                        <a routerLink="/visuresponsavel" class="functions__item" style="--function-color:#8a77e0;">
                                          <span class="home_logado-s functions__item-duration"></span>
                                          <div class="functions__item-wrap">
                                              <h3 class="functions__item-title">CADASTRAR CRIANÇA / 2° RESPONSÁVEL</h3>
                                             <!--  <p class="functions__item-category">adastrar Criança e/ou 2° Responsável</p> -->
                                          </div>
                                          <div class="functions__item-image">
                                            <i class="fa fa-user-plus icon_edit_users" aria-hidden="true"></i>
                                          </div>
                                       </a>

                                      <a routerLink="/visucrianca" class="functions__item" style="--function-color:#8a77e0 ;">
                                        <span class="home_logado-s functions__item-duration"></span>
                                        <div class="functions__item-wrap">
                                            <h3 class="functions__item-title">AGENDAR CRIANÇA / ADERIR REFORÇO</h3> 
                                        </div>
                                        <div class="functions__item-image">
                                            <i class="fa fa-plus-square icon_edit_users" aria-hidden="true"></i>


<!--                                             <img style="filter: invert(100%);" height="130" width="135" alt="" src="../../../assets/img/child.png">
 -->                                        </div>
                                      </a>

                                      <a routerLink="" class="functions__item" style="--function-color:#c896ff;">
                                        <span class="home_logado-s functions__item-duration"></span>
                                        <div class="functions__item-wrap">
                                            <h3 class="functions__item-title">VISUALIZAR USUÁRIOS</h3> 
                                        </div>
                                        <div class="functions__item-image">
                                          <i class="fa fa-users icon_edit_users" aria-hidden="true"></i>
                                        </div>
                                      </a>
                                    
                                      <a routerLink="/visupacote" class="functions__item" style="--function-color:#c896ff;">
                                        <span class="home_logado-s functions__item-duration"></span>
                                        <div class="functions__item-wrap">
                                            <h3 class="functions__item-title">VISUALIZAR PACOTES</h3> 
                                        </div>
                                        <div class="functions__item-image">
                                            <i class="fa fa-cubes icon_edit_users" aria-hidden="true"></i>

                                            <!-- <i class="fa-solid fa-pen-to-square icon_edit_users"></i> -->
                                        </div>
                                      </a>

                                      <a routerLink="/visueditresponsavel" class="functions__item" style="--function-color:#8a77e0;">
                                        <span class="home_logado-s functions__item-duration"></span>
                                        <div class="functions__item-wrap">
                                            <h3 class="functions__item-title">VISUALIZAR RESPONSÁVEL</h3>
                                           <!--  <p class="functions__item-category">adastrar Criança e/ou 2° Responsável</p> -->
                                        </div>
                                        <div class="functions__item-image">
                                            <img style="
                                                filter: invert(100%);
                                                " height="130" width="135" alt="" src="../../../assets/img/responsible.png">
                                        </div>
                                     </a>

                                     <a routerLink="/visueditcrianca" class="functions__item" style="--function-color:#8a77e0 ;">
                                        <span class="home_logado-s functions__item-duration"></span>
                                        <div class="functions__item-wrap">
                                            <h3 class="functions__item-title">VISUALIZAR CRIANÇAS</h3> 
                                        </div>
                                        <div class="functions__item-image">
                                          <i  class="fa fa-child icon-edit" aria-hidden="true"></i>

<!--                                             <img style="filter: invert(100%);" height="130" width="135" alt="" src="../../../assets/img/child.png">
 -->                                        </div>
                                      </a>

                                     <a routerLink="/visueditreforco" class="functions__item" style="--function-color:#c896ff ;">
                                        <span class="home_logado-s functions__item-duration"></span>
                                        <div class="functions__item-wrap">
                                            <h3 class="functions__item-title">VISUALIZAR REFORÇO</h3> 
                                        </div>
                                        <div class="functions__item-image">
                                            <img style="filter: invert(100%); "height="130" width="135" alt="" src="../../../assets/img/book.png">
                                        </div>
                                      </a>

                                      <a href="pag2.html" class="functions__item" style="--function-color:#c896ff;">
                                          <span class="home_logado-s functions__item-duration"></span>
                                          <div class="functions__item-wrap">
                                              <h3 class="functions__item-title">Agendamento</h3> <b
                                                  class="functions__item-category">Clique aqui</b>
                                          </div>
                                          <div class="functions__item-image">
                                              <img style="
                                                  filter: invert(100%);
                                                  " height="130" width="135" alt="" src="../../../assets/img/calendar.png">
                                          </div>
                                      </a>                                                                            
                                       
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
  </div>
</div>

