<div class="header">

  <div class="inner-header colum_edit">
    <h1>Cuidando do bem estar da sua criança!</h1>
    <img src="https://i.imgur.com/EIUymqv.png" alt="" class="img_top">
  </div>
  <!--Content before Waves-->

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div><!--Waves end-->
  
</div><!--Header-->

<div class="position_title">
  <h2>NOSSOS SERVIÇOS</h2>
</div>
<div class="position_cards">
  
  <div class="size_caixa">
    <div class="card-body">
      <h5 class="card-title color_text">Horários Flexíveis</h5>
      <h6 class="card-subtitle mb-2 text-muted icon_position">
        <i class="fas fa-school icon_edit"></i>
      </h6>
      <p class="card-text">
        Nos períodos manhã, tarde ou período integral.
      </p>
    </div>
  </div>

  <div class="size_caixa">
    <div class="card-body">
      <h5 class="card-title color_text">Aulas de Reforço</h5>
      <h6 class="card-subtitle mb-2 text-muted icon_position">
        <i class="fas fa-book-reader icon_edit"></i>
      </h6>
      <p class="card-text">
        Oferecemos aulas de reforço.
      </p>
    </div>
  </div>

  <div class="size_caixa">
    <div class="card-body">
      <h5 class="card-title color_text">Hora da merenda!</h5>
      <h6 class="card-subtitle mb-2 text-muted icon_position">
        <i class="fas fa-utensils icon_edit"></i>
      </h6>
      <p class="card-text">
        A criança pode trazer seu lanche de casa e nós a servimos.        
      </p>
    </div>
  </div>
  
  

</div>
