<div class="container-cad">
    <div class="content-box">

        <div class="campo-edit">

          <div class="form-box ">

                <div class="d-flex justify-content-center">
                    <div class="title_camp_top">
                      <hr>
                      <div class="title_icon_ali">
                        <h2 class="text_edit_title_top">EDITAR CRIANÇA</h2>
                        <i class="fa-solid fa-user-pen icon_edit_top"></i>
                      </div>
                      <hr>
                    </div>
                </div>

                <div class="caixa-forms-edit ">
                    <div class="continer-forms">
                      <div class="camp_edit">

                        <div class="d-block justify-content-between w-100">

                            <div class="input-box">
                                <div class="form-group campo">
                                    <input [(ngModel)]="editCrianca.nome" class="form-control" type="text" name="nome" id="nome" required/>
                                    <label class="label-edit" for="nome">Nome*</label>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-around mt-3 contact-position w-100">

                            <div class="input-box">
                              <div class="form-group campo">
                                <label class="label-color" for="dataNasc">Data de Nascimento*</label>
                                <input [(ngModel)]="editCrianca.dtNascimento" class="form-control texto-color w-75" type="date" name="dataNasc" id="dataNasc"  required /><!-- (change)="dataConvert($event)" -->                                                       
                              </div>
                            </div>
  
                            <div class="input-box">
                              <div class="form-group campo">
                                <label class="label-color" for="tipoGen">Gênero</label>
                                <select class="form-control texto-color p-2 w-50" name="tipoGen" id="tipoGen"
                                    (change)="genero($event)" required>
                                    <option disabled selected value="{{ editCrianca.genero }}">
                                        {{ editCrianca.genero }}
                                    </option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Masculino">Masculino</option>
                                </select>
                              </div> 
                            </div>
  
                        </div>

                        <div class="d-flex justify-content-around mt-3 contact-position w-100">
                            <div class="input-box-radio w-75">
                                <div class="form-group">
                                    <label class="titulo-radio" for="problemaSaude">Algum problema de saúde?</label>
                                    <div class="d-flex justify-content-between w-50">
                                        <div class="radio-edit">
                                            <input type="radio" id="problemaSaude" name="problemaSaude" value="true"
                                                (change)="opSaudeT($event)" required
                                                [(ngModel)]="editCrianca.problemaSaude"
                                                [checked]="editCrianca.problemaSaude == true" />
                                            <label class="campo-radio m-lg-2" for="problemaSaude">Sim</label>
                                        </div>

                                        <div class="radio-edit">
                                            <input type="radio" id="problemaSaude" name="problemaSaude"
                                                value="false" (change)="opSaudeT($event)" required
                                                [(ngModel)]="editCrianca.problemaSaude"
                                                [checked]="editCrianca.problemaSaude == false" />
                                            <label class="campo-radio m-lg-2" for="problemaSaude">Não</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="input-box">
                                <div class="form-group campo">
                                    <input [(ngModel)]="editCrianca.tipoProblemaSaude" class="form-control w-75"
                                        type="text" name="tipoProblemaSaude" id="tipoProblemaSaude" required />
                                    <label class="label-edit" for="tipoProblemaSaude">Qual o problema de
                                        saúde?</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around mt-3 contact-position w-100">
                            <div class="input-box-radio w-75">
                                <div class="form-group">
                                    <label class="titulo-radio" for="algumaAlergia">Tem alguma alergia? *</label>

                                    <div class="d-flex justify-content-between w-50">
                                        <div class="radio-edit">
                                            <input type="radio" id="algumaAlergia" name="algumaAlergia" value="true"
                                                (change)="opSaudA($event)" required
                                                [(ngModel)]="editCrianca.algumaAlergia"
                                                [checked]="editCrianca.algumaAlergia == true" />
                                            <label class="campo-radio m-lg-2" for="algumaAlergia">Sim</label>
                                        </div>

                                        <div class="radio-edit">
                                            <input type="radio" id="algumaAlergia" name="algumaAlergia"
                                                value="false" (change)="opSaudA($event)" required
                                                [(ngModel)]="editCrianca.algumaAlergia"
                                                [checked]="editCrianca.algumaAlergia == false" />
                                            <label class="campo-radio m-lg-2" for="algumaAlergia">Não</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="input-box">
                                <div class="form-group campo">
                                    <input [(ngModel)]="editCrianca.tipoAlergia" class="form-control w-75"
                                        type="text" name="tipoAlergia" id="tipoAlergia" required />
                                    <label class="label-edit" for="tipoAlergia">Qual tipo de alergia? *</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around mt-3 contact-position w-100">
                            <div class="input-box-radio w-75">
                                <div class="form-group">
                                    <label class="titulo-radio" for="usoMedicamento">Faz uso de medicamentos?*</label>

                                    <div class="d-flex justify-content-between w-50">
                                        <div class="radio-edit">
                                            <input type="radio" id="usoMedicamento" name="usoMedicamento"
                                                value="true" (change)="opSaudM($event)" required
                                                [(ngModel)]="editCrianca.usoMedicamento"
                                                [checked]="editCrianca.usoMedicamento == true" />
                                            <label class="campo-radio m-lg-2" for="usoMedicamento">Sim</label>
                                        </div>

                                        <div class="radio-edit">
                                            <input type="radio" id="usoMedicamento" name="usoMedicamento"
                                                value="false" (change)="opSaudM($event)" required
                                                [(ngModel)]="editCrianca.usoMedicamento"
                                                [checked]="editCrianca.usoMedicamento == false" />
                                            <label class="campo-radio m-lg-2" for="usoMedicamento">Não</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="input-box">
                                <div class="form-group campo">
                                    <input [(ngModel)]="editCrianca.qualMedicamento" class="form-control w-75"
                                        type="text" name="qualMedicamento" id="qualMedicamento" required />
                                    <label class="label-edit" for="qualMedicamento">Quais medicamentos? *</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around mt-3 contact-position w-100">
                            <div class="input-box-radio w-75">
                                <div class="form-group">
                                    <label class="titulo-radio" for="necessidadesEspeciais">Tem necessidades
                                        especiais? *</label>

                                    <div class="d-flex justify-content-between w-50">
                                        <div class="radio-edit">
                                            <input type="radio" id="necessidadesEspeciais"
                                                name="necessidadesEspeciais" value="true"
                                                (change)="opSaudNE($event)" required
                                                [(ngModel)]="editCrianca.usoMedicamento"
                                                [checked]="editCrianca.usoMedicamento == true" />
                                            <label class="campo-radio m-lg-2"
                                                for="necessidadesEspeciais">Sim</label>
                                        </div>

                                        <div class="radio-edit">
                                            <input type="radio" id="necessidadesEspeciais"
                                                name="necessidadesEspeciais" value="false"
                                                (change)="opSaudNE($event)" required
                                                [(ngModel)]="editCrianca.usoMedicamento"
                                                [checked]="editCrianca.usoMedicamento == false" />
                                            <label class="campo-radio m-lg-2"
                                                for="necessidadesEspeciais">Não</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="input-box">
                                <div class="form-group campo">
                                    <input [(ngModel)]="editCrianca.tipoNecessidadesEspeciais"
                                        class="form-control w-75" type="text" name="tipoNecessidadesEspeciais"
                                        id="tipoNecessidadesEspeciais" required />
                                    <label class="label-edit" for="tipoNecessidadesEspeciais">Quais necessidades
                                        especiais? *</label>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="d-flex justify-content-start w-100">
                            <div class="input-box m-0">
                                <div class="form-group campo">
                                    <label for="tipoPacote" class="label-color">Pacotes:</label>
                                    <select class="form-control texto-color p-2" name="tipoPacote" id="tipoPacote"
                                         (change)='tipoPacote($event)'>
                                        <option disabled selected value="{{editCrianca.pacote.id}}">
                                            '{{editCrianca.pacote.tipoPacote}}' no periodo '{{editCrianca.pacote.periodo}}' : {{editCrianca.pacote.valorPacote |
                                            currency:'BRL':'symbol':'1.2-2'}}
                                        </option>
                                        <option *ngFor="let pacotes of listerPacote" value="{{pacotes.id}}">
                                            '{{pacotes.tipoPacote}}' no periodo '{{editCrianca.pacote.periodo}}' : {{pacotes.valorPacote |
                                            currency:'BRL':'symbol':'1.2-2'}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                        </div> -->

                      </div>

                        <div class="btn-group-line mt-4">
                
                          <button type="submit" class="btn btn-success-update me-lg-3" (click)='updateCrianca()'>
                            ATUALIZAR
                          </button>
                          <button type="button" class="btn btn-cancel me-lg-3 btn_lg" id="btnCancelarUser" routerLink="/visueditcrianca">
                            CANCELAR
                          </button>
    
                      </div>

                    </div>
                </div>    
                    
            </div>

        </div>

    </div>

    <div class="img-box">
        <img src="https://i.imgur.com/0UeIHGU.jpg" />
    </div>
</div>